body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
}

/* Contenido */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main article {
    background-color: #1e1e1e;
    border-left: 4px solid #4cafa7;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

article img {
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
    margin-left: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4cafa7;
    text-align: center;
}

h2 {

    font-size: 32px;
    margin-bottom: 20px;
    color: #4cafa7;
    text-align: center
}

h3 {
    margin-top: 20px;
    color: #4cafa7;
    font-size: 20px;
}

ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Imagen y texto organizado */
.clases{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.clases article {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.clases article img {
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
}

.contenido-texto {
    flex: 1;
}

.contenido-texto p {
    margin-bottom: 50px;
    margin-top: 30px;
}



.contenido-texto ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
}


/* Footer */
footer {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    color: #bbb;
    font-size: 14px;
}