* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background-color: #1a1a1a;
    text-align: center;
    position: sticky;
    top: 0;
    height: 68px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

header nav{
    display: flex;
    position: absolute;
    top: 0;
    left: 600px;
    margin: 0;
    padding-top: 20px;
}

header a.activo{
    color: #4cafa7;
    font-weight: bolder;
}


header nav ul{
    margin: 0;
    padding: 0;
}

section h1{
    text-align: center;
    color: #4cafa7;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4cafa7;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
      justify-content: space-between;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    
      
    header nav {
        position: static;
        padding: 10px 0;
        font-size: smaller;


    }
      
    nav ul {
      flex-direction: column;
      gap: 20px;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    section h1 {
      font-size: 24px;
    }
  
    .contenido-imagen,
    .contenido-imagen-izq {
        flex-direction: row;
        margin: 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    .contenido-texto a,
    .contenido-texto-izq a {
        margin: 10px auto;
        text-align: center;
        
    }
  }