/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
}

/* Main */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.about-me {
    background-image: url('../img/fondo-index.webp');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-sobre-mi {
    background-color: rgba(0, 0, 0, 0.85); 
    padding: 40px 30px;
    border-radius: 20px;
    max-width: 800px;
    text-align: left;
    color: white;

    box-shadow: 0 2px 6px rgba(0,0,0,0.2),
    0 0 0 rgb(255, 255,255, 0.1 );  
}

.icono-contenedor {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px;
}

.icono {
    width: 100px; /* Ajustalo a tu gusto */
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}
  

.caja-sobre-mi h1 {
    font-size: 36px;
    margin-top: 0px;
}

.caja-sobre-mi p {
    font-size: 18px;
    line-height: 1.8;
}

/* Imagen y texto organizado */

.linea-tiempo{
    background-color: #1e1e1e;
    border-left: 4px solid #4cafa7;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.inventario-recursos{
    background-color: #1e1e1e;
    border-right: 4px solid #4cafa7;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.visualizar-vida{
    background-color: #1e1e1e;
    border-left: 4px solid #4cafa7;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.balance-vida{
    background-color: #1e1e1e;
    border-right: 4px solid #4cafa7;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.tres-vidas{
    background-color: #1e1e1e;
    border-left: 4px solid #4cafa7;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.happy-stardup{
    background-color: #1e1e1e;
    border-right: 4px solid #4cafa7;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.contenido-imagen{

    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0px;
}

.contenido-imagen img {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
}

.contenido-texto{

    flex: 1;
    min-width: 25px;

}

.contenido-texto p {
    margin-bottom: 50px;
    margin-top: 30px;
}

.contenido-texto h2 {
    margin-top: 50px;
    color: #4cafa7;
    text-align: center;
}

.contenido-texto a {
    display: inline-flex;
    padding: 8px 16px;
    background-color: #4cafa7;
    color: #f0f0f0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.contenido-imagen a:hover {
    background-color: #274744;
}

/* IMAGENES IZQUIERDA */

.contenido-imagen-izq{

    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0px;
    
}

.contenido-imagen-izq img {

    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
}

.contenido-texto-izq{

    flex: 1;
    min-width: 25px;

}

.contenido-texto-izq p {
    margin-bottom: 50px;
    margin-top: 30px;
}

.contenido-texto-izq h2 {
    margin-top: 50px;
    color: #4cafa7;
    text-align: center;
}

.contenido-texto-izq a {
    display: inline-flex;
    margin-left: 400px;
    padding: 8px 16px;
    background-color: #4cafa7;
    color: #f0f0f0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.contenido-texto-izq a:hover{
    background-color: #274744;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    color: #bbb;
    font-size: 14px;
}